<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Termnix-ITのページ{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="nav-container">
            <h1>Termnix-ITのページ</h1>
            <nav>
                <a href="/">HOME</a>
                <a href="/portfolio">ポートフォリオ</a>
                <a href="/ToolBox">作成ツール一覧</a>
                <a href="/Diagram">構成図ギャラリー</a>
                <a href="/contact">問い合わせ</a>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>
